/* Chat container */
.chat-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: var(--color-white);
}
 
/* Main chat (mensajes) */
.chat-main {
    flex: 1;
    margin-top: 60px;
    margin-bottom: 7vh;
    margin-left: 3.2%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: var(--spacing-lg);
    background: var(--color-background);
    box-sizing: border-box;
}

.chat-main #chatBox-title {
    justify-self: center;
    text-align: center;
    font-size: var(--font-size-xxxl);
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    margin-top: var(--spacing-md);
    padding: var(--spacing-sm) var(--spacing-md);
    max-width: 70%;
    word-wrap: break-word;
    display: block;
    border-radius: var(--radius-md);
}

.message small {
    font-size: var(--font-size-xxs);
}

.message strong {
    font-size: var(--font-size-sm);
}

.message:not(.self):not(.system) {
    align-self: flex-start;
    background: var(--color-white);
    border: 1px solid var(--color-dark-blue);
    color: var(--color-black);
    border-bottom-left-radius: 0;
    box-shadow: 0 15px 30px var(--color-dark-blue);
}

.message:not(.self):not(.system) small {
    display: flex;
    margin-top: 6px;
    justify-content: end;
}

.message.self {
    align-self: flex-end;
    background: var(--color-white);
    border: 1px solid var(--color-orange);
    color: var(--color-black);
    border-bottom-right-radius: 0;
    box-shadow: 0 15px 30px var(--color-orange);
}

.message.system {
    align-self: stretch;
    color: var(--color-black);
    text-align: center;
    padding: var(--spacing-md);
    max-width: 100%;
}

/* Input */
.chat-input {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: var(--spacing-md);
    background: transparent;
}

.chat-input input {
    display: flex;
    width: 90%;
    padding: var(--spacing-md);
    border: 2px solid var(--color-orange);
    border-radius: var(--radius-xlg);
    font-size: var(--font-size-md);
    outline: none;
}

.chat-input input:focus {
    box-shadow: 0 15px 30px var(--color-orange);
}

.chat-input .send-btn {
    margin-left: 40px;
    display: flex;
    background: transparent;
    color: var(--color-light-blue);
    border: none;
    width: auto;
    height: auto;
    font-size: var(--font-size-lg);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
}

.chat-input .send-btn svg  {
    scale: 2.8;
}

.send-btn:hover {
    color: var(--color-hover-btn);
    scale: 1.2;
}

.message.logged-self {
    border: 2px solid var(--color-red);
    box-shadow: 0 15px 30px var(--color-red);
}


@media (max-width: 1000px) {
    .chat-input {
        bottom: 48px;
    }

    .chat-main {
        margin-bottom: 15vh;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .chat-main #chatBox-title {
        font-size: var(--font-size-xxl);
    }
}

@media (max-width: 480px) {
    .chat-main #chatBox-title {
        font-size: var(--font-size-xl);
    }

    .chat-input .send-btn {
        margin-left: 20px;
    }
}