/* Login */
.login-container {
    background: white;
    padding: 30px 25px;
    border-radius: var(--radius-lg);
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 25px;
    color: var(--color-grey)
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

input {
    padding: var(--spacing-md);
    border: 1px solid var(--color-light-grey);
    border-radius: var(--radius-md);
    font-size: var(--font-size-lg);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: var(--spacing-xl) 0;
    width: 100%;
}

.divider span {
    flex: 1;
    border-bottom: 1px solid var(--color-background);
    line-height: 0;
    margin: 0 var(--spacing-md);
    color: var(--color-light-grey);
    font-size: var(--font-size-sm);
}

.btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
    width: 100%;
    padding: var(--spacing-sm);
    border: 1px solid var(--color-light-grey);
    border-radius: var(--radius-md);
    background: var(--color-white);
    cursor: pointer;
    font-size: var(--font-size-md);
    transition: background 0.3s;
}

.btn-google img {
    width: var(--spacing-xl);
    height: var(--spacing-xl);
}

.btn-google:hover {
    background: var(--color-light-grey);
}

.error {
    color: red;
    margin-top: var(--spacing-lg);
    text-align: center;
    font-size: var(--spacing-md);
}

/* Responsivo Login */
@media (max-width: 480px) {
    .login-container {
        margin: 0 var(--spacing-lg);
        padding: 25px var(--spacing-xl);
    }
}
