* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-top: 20px;
}

h2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 20px;
    text-align: center;

}

.input-box {
    width: 100%;
    margin: auto;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 100px;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    outline: none;
    border-bottom: 6px solid rgba(235, 95, 14, 0.904);
}


.btn {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background: #ff6600;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    margin-bottom: 70%;
    border-bottom: 6px solid rgba(255, 167, 116, 0.904);

}

.btn:hover {
    background: #e65c00;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-top: 2px solid #ff6600;
}

footer button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

footer button:hover {
    color: #ff6600;
}